<div id="auth-group">
  <div class="center" data-toggle="modal" data-target="#if-signin">IF 로그인</div>
  <div class="center" data-toggle="modal" data-target="#if-signup">IF 가입</div>
  <table>
    <tr>
      <td class="fb-login">
        <%=link_to "/auth/facebook" do%>
          <span>Login with facebook</span>
        <%end%>
      </td>
      <td class="tw-login">
        <%=link_to "/auth/twitter" do%>
          <span>Login with twitter</span>
        <%end%>
      </td>
    <tr/>
  </table>
</div>
<%= render :partial => 'users/modal' %>
