body{
  font-family:"Droid Sans Fallbak" !important;
  background-color:#9c1819 !important;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
#spinner{
  display:none;
  position:fixed;
  background-image: url("/assets/spinner.gif");
  background-repeat:no-repeat;
  height:200px;
  width:200px;
  top:30%;
  z-index:9999;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
}

#modal{
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:#aaaaaa;
  z-index:5000;
  opacity:0.3;
}
.ui-dialog{
  z-index:9999 !important;
}
