// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-logo{
  text-align:center;
  position:relative;
  img{
    width:110px;
    height:110px;
  }
}
#inner-container{
  position:relative;
  top:5em;
  #member-section{
    margin-top:66px;
  }
  #input{
    input{
      display:inline-block;
      width:212px;
      height:32px;
      border:none;
    }
  }
  .align-right{
    text-align:right;
  }
  .align-left{
    text-align:left;
  }
  .center{
    text-align:center;
    padding-top:1.563em;
    width:50%;
  }
  td{
    //border: 1px solid;
    img{
      //width:150px;
    }
  }

  #if-signup{
  }
  #if-signin{
  }
}
