// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#auth-group{
  position:relative;
  top:20em;
  .fb-login{
    text-align:center;
    padding-top:1.563em;
    width:50%;
    background-color:blue;
  }
  .tw-login{
    text-align:center;
    padding-top:1.563em;
    width:50%;
    background-color:red;
  }
  .center{
    text-align:center;
    margin-bottom:1.563em;
    padding:0.938em;
    background-color:gray;
  }

  td{
    border: 1px solid;
  }

  #if-signup{
  }
  #if-signin{
  }
}
